.spinner {
    justify-content: center;
    margin-top: 50px;
}

.spinner-border {
    color: #db2cc4;
    width: 5vh;
    height: 5vh;
}

.aboutus-nav{
  color: white;
}

.aboutus-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.aboutus {
  display:block;
}

.aboutus img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 2.5px;
    display: inline-block;
}

.ap-nav, .codecks-nav {
  color: white;
}

.codecks-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.no-hover:hover {
    color: inherit !important;
    border: none !important;
}

.AutonomousProposal {
    font-size: 22px;
    border-bottom: 1px solid #d4d4d4;
    padding: 35px;
    word-wrap: break-word;
}

.AutonomousProposal:hover {
    border-left: 3px solid #db2cc4;
}

.Delegate {
    font-size: 22px;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px;
    margin: 0px;
    word-wrap: break-word;
}

.Delegate > .delegate-key, AutonomousProposal > .delegate-description{
    padding-left: 0%;
}

.Delegate:hover {
    border-left: 3px solid #db2cc4;
}

.header, .header-navbar {
    color: white;
    background-color: black;
    padding: 16px;
    margin: 0px;
}

.header-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.name-page {
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 0;
}

.nav {
    justify-content: center;
    padding: 0px;
    font-size: 20px;
}

.delegate-nav {
    color: white;
}

.delegate-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.ap-nav {
    color: white;
}

.ap-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.hero , .header{
    background-color: black;
}
.hero {
    height: 30vh;
}

.ap-list, .delegate-list, .content-container {
    margin-top: -7vh;
    background-color: white;
    border-radius: 5px;
    min-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #db2cc4 !important;
    border-color: #db2cc4 !important;
}

.btn-lg {
    font-size: 1.2rem;
    width: 90%;
}

.delegate-button-container {
    text-align: right;
    padding-right: 0px;
}

.delegate-title, .aboutus-title {
    padding: 16px;
    font-size: 30px;
    border-bottom: 1px solid #d4d4d4;;
}
iframe {
  height:50em;
  width:100%;
  text-align: center;
  margin:auto;
  display:block;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.progress {
    width: 100%;
    max-width: 100%;
}

.progress-bar {
    background-color: #db2cc4;
}

button.navbar-toggler{
    outline: none;
}

p {
    overflow-wrap: break-word;
}

.app-navbar-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.app-menu {
    width: 60%;
}

.navbar-brand {
    width: 20%;
    text-align: right;
    margin-right: 0%;
}

.dropdown-menu-btn{
    display: none;
}

.delegate-button-container {
    margin-top: 16px;
    padding: 0%;
}

.delegate-description {
    padding: 0%;
}

@media (max-width: 576px) { 
    .app-menu {
        display: none;
    }
    p > img {
        width: 100%;
        height: auto;
    }
    .dropdown-menu-btn {
        display: block;
    }
    .name-page, .dropdown-menu-btn {
        font-size: 16px;
    }
    .Delegate > .delegate-key, .delegate-button-container, .delegate-button-container > button {
        padding-left: 0 ;
        flex: 0 100%;
        width: 100%;
        max-width: 100%;
    }
 }