.spinner {
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.spinner-border {
    color: #db2cc4;
    width: 5vh;
    height: 5vh;
}

.aboutus-nav{
  margin-right:20px;
  margin-left: 20px;
  color: white;
}

.aboutus-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.aboutus {
  display:block;
}

.aboutus img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.codecks-nav {
  margin-right:20px;
  margin-left: 20px;
  color: white;
}

.codecks-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.Delegate {
    font-size: 22px;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px;
    margin: 0px;
    word-wrap: break-word;
}

.Delegate:hover {
    border-left: 3px solid #db2cc4;
}

.header {
    color: white;
    background-color: black;
    padding-top: 20px;
    margin: 0px;
}

.name-page {
    padding-left: 30px;
    font-size: 20px;
}

.nav {
    justify-content: center;
    padding: 0px;
    font-size: 20px;
}

.delegate-nav {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.delegate-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.ap-nav {
    color: white;
    margin-right: 20px;
}

.ap-nav:hover {
    color: #db2cc4;
    border-bottom: 2px solid #db2cc4;
}

.hero {
    height: 30vh;
    background-color: black;
}

.delegate-list, .content-container {
    margin-top: -7vh;
    background-color: white;
    border-radius: 5px;
    min-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.ap-list {
    margin-top: -7vh;
    background-color: white;
    border-radius: 5px;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #db2cc4 !important;
    border-color: #db2cc4 !important;
    float: right;
}

.btn-lg {
    font-size: 2rem;
    width: 40%;
    margin-right: 30%;
    border-radius: 50px;
    height: 20%;
    margin-bottom: 40%;
}

.delegate-button-container {
    padding-right: 0px;
}

.delegate-title, .aboutus-title {
    padding: 35px;
    font-size: 30px;
    border-bottom: 1px solid #d4d4d4;;
}
iframe {
  height:50em;
  width:100%;
  text-align: center;
  margin:auto;
  display:block;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}