.sweet-loading {
    margin-top: 20vh;
}

.Delegate {
    font-size: 22px;
}

.header {
    color: white;
    background-color: black;
}

.hero {
    height: 30vh;
    background-color: black;
}

.delegate-list {
    margin-top: -7vh;
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: #f2f2f2;
}